@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f7f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}
.container {
  min-width: 450px;
  min-height: 256px;
  background: #fcfdfd;
  border-radius:10px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.092);
}
.navbar {
  display:block;
  background: none !important;
}
.search {
  display: flex;
  justify-content: center;
  background: none;
}
.form-control {
  width:250px !important;
  margin:0px 20px;
}
.btn {
  width:100px;
  background-color: #33255d !important;
  color:white !important;
  font-size: 15px;
  border: none !important;
}
h1 {
  margin: 0.5rem 0px;
  font-size: 1.75rem;
  padding:30px 10px 0px;
}
.display-holiday{
  display: flex;
  flex-wrap: wrap;
  gap:20px
}
.card {
  margin: 10px 0px;
}